*{
  margin: 0px;
  padding: 0px;
}

body {
  
  background-image: url(./img/leaf.jpg);
  /* Full height */
  height: 100%;
  

  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* This helps place things under one another */
}

h2 {
  /* color: white; */
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-weight: 300;
  padding: 2rem;
}

.countdown {
  font-family: 'Poppins', sans-serif;
  /* color: white; */
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 550px;
}

.day, .hour, .minute, .second {
  font-size: 2rem;
}

/* .home {
  padding-top: 20px;
  height: 50vh;
} */